{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
<!-- Use CSS-->
<style>
    table { width : 100% ; /* Table has to cover all the page*/
            border-collapse: collapse; /*Cells borders has to be realy near*/
            margin-top: 20px; /*I have to put space on the top*/
        }
    th,td {
             border: 1px solid #dddddd; /* Every cells has color border */
            text-align: center; /* The text is in the center */
            padding: 9px; /* Every cells has this px space */
        }

        th {
            background-color: #f2f2f2; /*Color is light grey of cells background */
            }
        h2 {

            font-family: 'Times New Roman', Times, serif;
            color: red; /* Imposta il colore del testo su rosso */
        }

    </style>
<title>
    <h1><strong>History</strong></h1>
</title>
    <p><h1>History</h1></p>
    <p>
        <!--I'm going to add the names of columns intestation-->
<table class ="table table-boardered table-striped">
    <thead class="thead-light">
        <tr>
            <th><h2><strong>SYMBOL</strong></h2></th>
            <th><h2><strong>SHARES</strong></h2></th>
            <th><h2><strong>PRICE</strong></h2></th>
            <th><h2><strong>TOTAL_PRICE</strong></h2></th>
            <th><h2><strong>TIME_OF_TRANSACTION</strong></h2></th>
        </tr>
    </p>
</thed>
<!--I'm going to write the names of the body of tables-->
<tbody>
    {% for buy in buys %}
    <tr>
        <td>{{buy.symbol}}</td>
        <td>{{buy.shares}}</td>
        <td>{{buy.price}}</td>
        <td>{{buy.price * buy.shares}}</td>
        <td>{{buy.time_of_buy}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% endblock %}
